body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
}

.forrest-bg {
  background-image: url("background-images/forrest-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-text {
  color: rgb(22, 100, 129);
}

.red-text {
  color: rgb(144, 77, 68);
}

#title-text {
  color: red;
  border-color: black;
  border-bottom-color: red;
}

p {
  color: white;
}

#message_help {
  display: none;
}

pre {
  color: white;
}

.textBox {
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.output {
  display: none;
  width: 50%;
  margin: auto;
}

/* Container for flex box */
.container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Begin player stats */
.yellow {
  color: #9b931d;
}

.healthColor {
  color: #771536;
}

.manaColor {
  color: #278783;
}

.xpColor {
  color: #1a5477;
}

.strColor {
  color: #a3132b;
}

.chrColor {
  color: #cc39b6;
}

.parchmentColor{
  color: #b59d5b;
}

.agiColor {
  color: #86a304;
}

.intColor {
  color: #09b3bf;
}

.goldColor {
  color: #cccc00;
}

.player_stats {
  flex-grow: 1;
  text-align: left;
  float: left;
  position: fixed;
  left: 5%;
}

/* begin main console */
#console {
  display: none;
  flex-grow: 3;
  text-align: center;
  height: 60%;
}

.dialogue_button {
  color: #cccc00;
  background-color: #636363;
  border-radius: 3px;
  border: none;
  margin: auto;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;

}

.disabled_button {
  background-color: black;
  color: #771536;
}

/*Begin Combat */
.combatWrapper {
  margin: auto;
  width: 100%;
  display: none;
}

#combat {
  border: 1px solid white;
  width: 100%;
  height: 300px;
  background: black;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
  display: none;
}

.combatMenu {
  border: 1px solid white;
  width: 70%;
  height: 100px;
  background: black;
  margin: auto;
  margin-top: 50px;
  display: none;
}

#playerHealth {
  background: #932424;
  width: 10px;
  height: 200px;
  position: absolute;
  left: 410px;
}

#playerMana {
  background: #248092;
  width: 10px;
  height: 100px;
  position: absolute;
  left: 395px;
}

#enemyHealth {
  background: #932424;
  width: 10px;
  height: 100px;
  position: absolute;
  right: 410px;
  top: 
}

#enemyMana {
  background: #248092;
  width: 10px;
  height: 200px;
  position: absolute;
  right: 395px;
  top: 50px;
}

/* Combat buttons */
.combatButton {
  margin-top: 5px;
  background: gray;
  border: none;
  display: inline-block;
  text-decoration: none;
}

#useWeapon {
  background: #932424;
  margin-left: 5px;
}

#useFireball {
  background: #248092;
}

#useIce {
  background: #248092;
}

#useManaPot {
  background: #248092;
}

#useHealthPot {
  background: #932424;
}

#backToGame {
  float: right;
  margin-right: 5px;
  display: none;
}

/*begin conversation menus*/
.conversationWrapper {
  margin: auto;
  width: 100%;
  display: none;
}

.conversation {
  border: 1px solid white;
  width: 100%;
  height: 300px;
  background: black;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
  display: none;
}

.conversationMenu {
  border: 1px solid white;
  width: 70%;
  height: 100px;
  background: black;
  color: white;
  margin: auto;
  margin-top: 50px;
  display: none;
}

.convoButton {
  background: black;
  border: none;
  margin-top: 5px;
}

.convoButton:hover {
  border: 1px solid white;
}

.backbutton {
  display: none;
}

#goodbye {
  background: black;
  margin: 0 auto;
  color: white;
}

.yellow {
  color: #9b931d;
}

.healthColor {
  color: #771536;
}

.manaColor {
  color: #278783;
}

/*audio controls*/
footer {
  bottom: 0;
  width: 100%;
  float: bottom;
  position: fixed;
}
